.btn {
  display: inline-block;

  padding: 10px 20px;

  border: 1px solid $primary;
  border-radius: 4px;
  cursor: pointer;

  background-color: transparent;

  font-weight: 400;
  color: $dark;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;

  vertical-align: middle;

  transition: all 0.2s;

  &:hover {
      background-color: lighten($primary, 10%);
      color: #fff;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #fff;
  &:hover {
      background-color: darken($primary, 10%);
  }
}
.btn-success {
  background-color: $success;
  border-color: $success;
  color: #fff;
  &:hover {
      background-color: darken($success, 10%);
  }
}
.btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: #fff;
  &:hover {
      background-color: darken($danger, 10%);
  }
}
.btn-warning {
  background-color: $warning;
  border-color: $warning;
  color: #fff;
  &:hover {
      background-color: darken($warning, 10%);
  }
}
.btn-dark {
  background-color: $dark;
  border-color: $dark;
  color: #fff;
  &:hover {
      background-color: darken($dark, 10%);
  }
}
.btn-outline-primary {
  border-color: $primary;
  color: $primary;
  &:hover {
      background-color: $primary;
  }
}
.btn-outline-success {
  border-color: $success;
  color: $success;
  &:hover {
      background-color: $success;
  }
}
.btn-outline-danger {
  border-color: $danger;
  color: $danger;
  &:hover {
      background-color: $danger;
  }
}
.btn-outline-warning {
  border-color: $warning;
  color: $warning;
  &:hover {
      background-color: $warning;
  }
}
.btn-outline-dark {
  border-color: $dark;
  color: $dark;
  &:hover {
      background-color: $dark;
  }
}
.btn-block {
  display: block;
  width: 100%;
}