.container
  .dropdown
    button.btn.btn-dark.mt-20.toggle-dropdown-menu#dropdown dropdown
    ul.dropdown__menu.p10.w-100(data-toggle-id='dropdown')
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #1
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #2
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #3
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #4