.class1 class1
.class2 class2
.class3 class3
.class4 class4

button
  .button-inner click me

a.link(href='#') blank

.find
  .find__not no 1
  .find__item yes 1
  .find__item yes 2
  .find__not no 2
  .find__siblings sibling
  .find__item yes 3
  .find__item yes 4
  .find__not no 3
  .find__item yes 5