.container.d-flex(style='flex-direction: column')
  .dropdown
    button.btn.btn-dark.mt-20.toggle-dropdown-menu#dropdown dropdown
    ul.dropdown__menu.p10.w-100(data-toggle-id='dropdown')
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #1
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #2
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #3
      li.dropdown__item.text-center
        a.dropdown__link(href='#') item #4

  .goods.d-flex.f-space-around
    .card
      img.card-img(src='https://www.apple.com/newsroom/images/product/iphone/lifestyle/Apple_Shot-on-iPhone-Challenge-2020_Austin-Mann_01072020_big.jpg.large.jpg', alt='photo')
      .card-body
        h2.card-title Card title
        p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia itaque placeat qui suscipit.
        a.btn.btn-primary#modalTrigger(href='#', data-target='#exampleModal') Link to

    .card
      img.card-img(src='https://www.apple.com/newsroom/images/product/iphone/lifestyle/Apple_Shot-on-iPhone-Challenge-2020_Austin-Mann_01072020_big.jpg.large.jpg', alt='photo')
      .card-body
        h2.card-title Card title #2
        p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia itaque placeat qui suscipit.
        a.btn.btn-primary#modalTrigger2(href='#', data-target='#exampleModal2') Link to

  .tabs.mt-20
    .tabs__triggers.d-flex.f-space-around
      .tabs__trigger.d-flex tab #1
      .tabs__trigger.d-flex tab #2
      .tabs__trigger.d-flex tab #3

    .tabs__content.p20
      p.tabs__text.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam tempora debitis temporibus rem voluptatum error dolore alias dolor officiis ipsum quae dignissimos fugit officia libero quia molestias vitae, voluptatem atque placeat nulla quidem sequi veritatis nobis. Dignissimos accusantium veritatis odit eius dolore a ut nesciunt facere officia vitae quibusdam autem tenetur distinctio soluta minus, quisquam, at inventore temporibus dolorum iusto asperiores quae odio? Voluptatibus aut necessitatibus eligendi! Ratione distinctio tempore quisquam repellendus repellat unde deleniti neque nesciunt, asperiores temporibus ducimus illo provident quam hic qui consequuntur maxime cupiditate nisi saepe natus. Velit error tempora, adipisci facere labore recusandae nulla?
      p.tabs__text.
        Lorem, ipsum dolor sit amet c officiis ipsum quae dignissimos fugit officia libero quia molestias vitae, voluptatem atque c qui consequuntur maxime cupiditate nisi saepe natus. Velit error tempora, adipisci facere labore recusandae nulla?
      p.tabs__text.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis veniam tempora debitis temporibus rem voluptatum error dolore alias dolor officiis ipsum quae dignissimos fugit officia libero quia molestias vitae, voluptatem atque placeatm hic qui consequuntur maxime cupiditate nisi saepe natus. Velit error tempora, adipisci facere labore recusandae nulla?